/* ABOUT PAGE STYLING */
.MainContent{
display: flex;
flex-direction: column;
align-items: center;

padding-bottom: 100px;

color: #333;
}
.aboutContainers{
max-width: 1000px;
}

#aboutSubContent1{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

max-width: 700px;

text-align: center;

height: 500px;

font-size: 23px;

gap: 20px;

}

.background1{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
background-color: #f2f7f8;
}
#aboutSubContent2{
text-align: center;

display: grid;
grid-template-columns: 2fr 2fr;
grid-template-areas: "detail1 detail2";

height: 500px;

}
#aboutSubContent2 .founderImage{
grid-area: "detail1";
background-color:rgb(215, 250, 247);

display: flex;
flex-direction: column;
justify-content: center;
align-content: center;


}
#aboutSubContent2 .founderDetails{
grid-area: "detail2";
padding: 20px;
/* background-color:rgb(250, 247, 215); */

display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
text-align: left;

gap: 15px;

font-size: 20px;
}#aboutSubContent2 .founderDetails h2{
color: #72B5C5;
}

#aboutSubContent3{
text-align: center;

display: grid;
grid-template-columns: 2fr 2fr;
grid-template-areas: "extra1 extra2";

height: 500px;
}
#aboutSubContent3 .extraImage{
grid-area: "extra2";

display: flex;
flex-direction: column;
justify-content: center;
align-content: center;

background-color:rgb(215, 250, 247);
}
#aboutSubContent3 .extraDetails{
grid-area: "extra1";
background-color:rgb(250, 247, 215);

display: flex;
flex-direction: column;
justify-content: center;
}

#JoinUs{
margin: 0 auto;
}