/* ABOUT PAGE STYLING */
.MainContent{
display: flex;
flex-direction: column;
align-items: center;

padding-bottom: 100px;

color: #333;
}
.aboutContainers{
max-width: 1000px;
}

#aboutSubContent1{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

max-width: 700px;

text-align: center;

height: 500px;

font-size: 23px;

gap: 20px;

}

/* Container 2 */
.background1{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
background-color: #f2f7f8;
padding: 20px 0;
}
#aboutSubContent2{
text-align: center;

display: grid;
grid-template-columns: 2fr 2fr;
grid-template-areas: "detail1 detail2";

height: 500px;
}
#aboutSubContent2 .founderImage{
grid-area: "detail1";

display: flex;
flex-direction: column;
justify-content: center;
align-content: center;

}
.founderImage img{
    width: 350px;
    margin: auto;
    border-radius: 6px;
}
#aboutSubContent2 .founderDetails{
grid-area: "detail2";
padding: 20px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
text-align: left;

gap: 15px;

font-size: 20px;
}#aboutSubContent2 .founderDetails h2{
color: #72B5C5;
}
/* Container 2 */

/* Container 2 */
.background2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
#aboutSubContent3{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "codetail1 codetail2";
    height: 500px;
}

#aboutSubContent3 .cofounderDetails{
    grid-area: "codetail1";

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;

    gap: 15px;

    font-size: 20px;
}#aboutSubContent3 .cofounderDetails h2{
    color: #72B5C5;
}

#aboutSubContent3 .cofounderImage{
    grid-area: "codetail2";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cofounderImage img{
    width: 350px;
    margin: auto;
    border-radius: 6px;
}
