:root{
    /* Colors */
    /* --body-color: #E4E9F7 ; */
    --body-color: #e7f1f2 ;
    --sidebar-color: #FFF;
    --primary-color: #72B5C5;
    --primary-color-light: #f2f7f8;
    --toggle-color: #DDD;
    --text-color: #333;
    --text-color2:#1d1d1d;

    --primary-color-opposite: #4680A8;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.home{
    height: 100vh;
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    transition: var(--tran-04);
    background: var(--body-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

body.dark{

    --body-color: #18191A ;
    --sidebar-color: #242526;
    --primary-color: #4680A8;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #eeeeee;
    --text-color2:#f3f3f3;

    --primary-color-opposite: #72B5C5;
}

.dashboardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    width: 100%;

    font-size: 20px;
    color: var(--text-color);
}
.dashboardHeader h1{
    font-size: 30px;
}.dashboardHeader b{
    color: var(--primary-color);
}

.user{
    position: static;
    right: 10px;
}

.content{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "container1"
    "container2";

    padding: 20px;
    gap: 20px;
}
.content h2{
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: 28px;
}
.content p, .content h3{
    color: #eeeeee;
}

.content .container1{
    grid-area: "container1";

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "num1 num2";

    gap: 20px;
}.content .container1 .TaskManager{
    grid-area: "num1";

    border-radius: 6px;
    padding: 15px;
    overflow-y: auto;
    background-color: #7cabcf;
}.content .container1 .Calendar{
    grid-area: "num2";

    border-radius: 6px;
    padding: 15px;
    background-color: #72a8c5;
}

.content .container2{
    grid-area: "container2";

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "num3 num4";

    gap: 20px;
}.content .container2 .QuizSection{
    grid-area: "num3";

    border-radius: 6px;
    padding: 15px;
    background-color: #80b6d7;
}.content .container2 .Repository{
    grid-area: "num4";

    border-radius: 6px;
    padding: 15px;
    background-color: #5792b9;
}

.items{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    margin-bottom: 3px;
    transition: 0.3s ease;
}

/* TaskManager */
.items .status{
    display: flex;
    gap: 8px;

}.items .status p{
    color: #ffffff;
    background-color: #4681a87a;
    border-radius: 5px;
    padding: 4px 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.Repository .items .description{
    width: 700px;
}
/* TaskManager */

/* Calendar */
.items .detail p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.52);
}
.events .items .date{
    font-size: 20px;
}
/* Calendar */

/* Quizzes */
.QuizSection .items .detail p{
    font-size: 16px;
    /* padding: 0px 5px; */
    color: rgba(255, 255, 255, 0.663);
}.QuizSection .items .numItems{
    font-size: 16px;

}
/* Quizzes */

/* Repository */
.Repository h2{
    margin-bottom: 5px;
}
.Repository .itemss{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 70px;
    text-align: center;
    padding-right: 10px;
}
.Repository .itemss .subject{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 90%;
    background-color: #4680A8;
    border-radius: 6px;
}
.itemss .description{
    overflow-x: hidden;
    text-align: left;
    font-size: 18px;
    padding: 0 10px;
}
.itemss .separate{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Repository */

@media(max-width: 1246px){

    .content .container1{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "num1"
        "num2";
    }
    .content .container2{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "num3"
        "num4";
    
        gap: 20px;

        padding-bottom: 30px;
    }
}

@media(max-width: 922px){
    .content .container1{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "num1"
        "num2";

        min-width: 600px;
    }
    .content .container2{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "num3"
        "num4";
    
        gap: 20px;
        min-width: 400px;
    }
}