@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{  
    margin: 0;
    font-family: "Quicksand";
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;

    color: #333;

}

#logo{
    width: 70px;
    margin-right: 10px;
}

.navbar h1{
    font-size: 170%;
    color: #72B5C5;
}
.navbar .links{
    margin-left: auto;
}
.navbar a{
    font-size: 120%;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover{
    color: #4680A8;
}

.userStatus{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
}

.login a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;

    background-color: #72B5C5;
    color: white;

    border-radius: 6px;
    padding: 10px 15px;

    margin-right: 20px;
}
.login a:hover{
    background-color: #4680A8;
    color: #f2f2f2;
}

.logout a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;

    background-color: #72B5C5;
    color: white;

    border-radius: 6px;
    padding: 10px 15px;

    margin-right: 20px;
}
.logout a:hover{
    background-color: #4680A8;
    color: #f2f2f2;
}
.user{
    margin-right: -10px;
}
.user b{
    color: #72B5C5;
    font-size: 17px;
    font-weight: 600;
}