:root{
    /* Colors */
    /* --body-color: #E4E9F7 ; */
    --body-color: #e7f1f2 ;
    --sidebar-color: #FFF;
    --primary-color: #72B5C5;
    --primary-color-light: #f2f7f8;
    --toggle-color: #DDD;
    --text-color: #333;
    --text-color2:#1d1d1d;

    --primary-color-opposite: #4680A8;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.home{
    height: 100vh;
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    transition: var(--tran-04);
    background: var(--body-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

body.dark{

    --body-color: #18191A ;
    --sidebar-color: #242526;
    --primary-color: #4680A8;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #eeeeee;
    --text-color2:#f3f3f3;

    --primary-color-opposite: #72B5C5;
}

/* ADD FORM */
.AddQuestion{
    /* visibility: hidden; */
    opacity: 0;
    z-index: -1;

    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--tran-04);
}

.AddQuestion.Active{
    /* visibility: visible; */
    opacity: 1;
    z-index: 1;
}

/* ADD FORM */
.AddQuiz{
    /* visibility: hidden; */
    opacity: 0;
    z-index: -1;

    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--tran-04);
}

.AddQuiz.Active{
    /* visibility: visible; */
    opacity: 1;
    z-index: 1;
}

.EditQuiz{
    /* visibility: hidden; */
    opacity: 1;
    z-index: 1;

    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--tran-04);
}

.fillup{
    
    color: var(--text-color2);

    background-color: var(--primary-color-light);

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    font-size: 20px;
    font-weight: 300;

    padding: 30px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    gap: 10px;

    transition: var(--tran-04);

}

.fillup label{
    width: 100%;
}
.fillup input, textarea{
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    padding: 12px;

    border-style: solid;
    border-color: var(--text-color);
    border-width: 1px;
    border-radius: 5px;

    resize: none;
}

.fillup .btns{
    display: flex;
    gap: 10px;
}

.fillup .btns #btnAddTask{
    background-color:var(--primary-color);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
    transition: var(--tran-04);
}.fillup .btns #btnAddTask:hover{
    background-color: var(--primary-color-opposite);
}
.fillup .btns #btnCancel{
    background-color: #d16d6d;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
}.fillup .btns #btnCancel:hover{
    background-color: #a25656;
}
/* ADD FORM */

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;

    font-size: 20px;
    color: var(--text-color);
}.quizzesHeader h1{
    font-size: 30px;
}.quizzesHeader b{
    color: var(--primary-color);
}

.quizzesContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 0 20px;
    /* background-color: #72c5afc3; */
}

.addQuizzes{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 5px;
    font-size: 30px;
    color: var(--text-color);
}.addQuizzes i:hover{
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.quiz .btns{
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    gap: 7px;
}.quiz .btns button{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-style: none;
    transition: 0.5s;
}.quiz .btns button:hover{
    transform: scale(1.3);
}

/* USER QUIZZES */
.userQuizzes{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: "sub1 sub2 sub3";
    gap: 10px;
}

.userQuizzes .quiz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    position: relative;

    padding: 20px;

    border-radius: 6px;
    transition: var(--tran-04);
    color: white;
    background-color: var(--primary-color);

    width: 100%;
}

.userQuizzes .quiz .details{
    display: flex;
    gap: 10px;
}
.userQuizzes .quiz .details .subjecttitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #333;
    border-radius: 50%;
    padding: 15px;

    height: 120px;
    max-width: 120px;

    width: 120px;
    max-width: 120px;
    min-width: 120px;
}.userQuizzes .quiz .details .subjectdetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 0;
}
.userQuizzes .quiz .details .subjectdetail p{
    height: 50px;
    overflow-x: auto;
    overflow-y: auto;
}
.userQuizzes .quiz .details .subjectdetail h2{
    margin-bottom: 7px;
}

.userQuizzes .quiz .items{
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}.userQuizzes .quiz .items p{
    color: rgba(255, 255, 255, 0.609);
}
.userQuizzes .quiz .items .view{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}.userQuizzes .quiz .items .view:hover{
    transform: scale(1.1);
}
.userQuizzes .quiz .items .view a{
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    color: #333;
}
/* USER SUBJECTS */


/* VIEW SUBJECTS */
.userDocuments{
    background-color: #4680A8;
    width: 100%;
}
/* VIEW SUBJECTS */