:root{
    /* Colors */
    /* --body-color: #E4E9F7 ; */
    --body-color: #e7f1f2 ;
    --sidebar-color: #FFF;
    --primary-color: #72B5C5;
    --primary-color-light: #f2f7f8;
    --toggle-color: #DDD;
    --text-color: #333;
    --text-color2:#1d1d1d;

    --primary-color-opposite: #4680A8;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.home{
    height: 100vh;
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    transition: var(--tran-04);
    background: var(--body-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

body.dark{

    --body-color: #18191A ;
    --sidebar-color: #242526;
    --primary-color: #4680A8;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #eeeeee;
    --text-color2:#f3f3f3;

    --primary-color-opposite: #72B5C5;
}

.addfunction{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Add{
    visibility: hidden;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Add.Active{
    visibility: visible;
}

.fillup{
    
    color: var(--text-color2);

    background-color: var(--primary-color-light);

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    font-size: 20px;
    font-weight: 300;

    padding: 30px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    gap: 10px;

    transition: var(--tran-04);

}

.fillup label{
    width: 100%;
}
.fillup input, select{
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    padding: 12px;

    border-style: solid;
    border-color: var(--text-color);
    border-width: 1px;
    border-radius: 5px;
}

.fillup .btns{
    display: flex;
    gap: 10px;
}

.fillup .btns #btnAddTask{
    background-color:var(--primary-color);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
    transition: var(--tran-04);
}.fillup .btns #btnAddTask:hover{
    background-color: var(--primary-color-opposite);
}
.fillup .btns #btnCancel{
    background-color: #d16d6d;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
}.fillup .btns #btnCancel:hover{
    background-color: #a25656;
}



.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskManager{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;

    font-size: 20px;
    color: var(--text-color);
}.taskManager h1{
    font-size: 30px;
}.taskManager b{
    color: var(--primary-color);
}

.taskManagerTable{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 0 20px;
    /* background-color: #72c5afc3; */
}

.addTasks{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 5px;
    font-size: 30px;
    color: var(--text-color);
}.addTasks i:hover{
    color: var(--primary-color);
    font-weight: 600;
}

.userTasks{
    width: 100%;
}

.content-table{
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    transition: var(--tran-04);
    color: var(--text-color2);
    background-color: var(--primary-color);
    text-align: left;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    transition: var(--tran-04);
    border-bottom: 2px solid var(--primary-color-light);
    color: var(--text-color2);
    background-color: var(--sidebar-color);
}

.content-table tbody tr .Cap{
    text-transform: capitalize;
}

.content-table tbody tr button{
    font-size: 20px;
    color: white;
    padding:5px;
    border-radius: 3px;
    border-style: none;
    transition: var(--tran-04);

    cursor: pointer;
} #edit{
    background-color: var(--primary-color);
} #delete{
    background-color: #d16d6d;
} #edit:hover{
    background-color: var(--primary-color-opposite);
} #delete:hover{
    background-color: #a25656;
}


.content-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--primary-color);
}